:root {
    --color-principal: #BE1522; /*Rojo*/
    --color-secundario: #ECEAEA; /*Plomo*/
    --color-terciario: #515151; /*Plomo Oscuro*/
    --color-extra: #fff;
}

/*Sección Uno Página de Inicio*/
.linea-roja-encabezados {
    height: 5px;
    width: 120px;
    background-color: var(--color-principal);
    border-color: var(--color-principal);
}
.fondo-mision {
    background-color: var(--color-secundario);
    border-left: 5px solid var(--color-principal);
}
.fondo-icono {
    background-color: var(--color-extra);
    height: 50px;
    width: 50px;
}
/*Sección Uno Página de Inicio*/