:root {
    --color-principal: #BE1522; /*Rojo*/
    --color-secundario: #ECEAEA; /*Plomo*/
    --color-terciario: #515151; /*Plomo Oscuro*/
    --color-extra: #fff;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
} 
/*Carrusel*/
.imagen-carrusel {
    max-height: 100vh;
}
/*Carrusel*/
/*Sección Uno Página de Inicio*/
.linea-roja-encabezados {
    height: 3px;
    width: 120px;
    background-color: var(--color-principal);
    border: none;
}
.fondo-mision {
    background-color: var(--color-secundario);
    border-left: 5px solid var(--color-principal);
}
.fondo-icono {
    background-color: var(--color-extra);
    height: 50px;
    width: 50px;
}
/*Sección Uno Página de Inicio*/

/*Sección Dos Página de Inicio*/
.fondo-napsis {
    background-color: var(--color-secundario);
    border-radius: 0 0 10px 10px;
}
.boton-napsis {
    border: 1px solid var(--color-principal);
    background-color: var(--color-extra);
    color: var(--color-principal);
    text-decoration: none;
    transition: .5s;
}
.boton-napsis:visited {
    color: var(--color-principal);
}
.boton-napsis:hover {
    color: var(--color-extra);
    background-color: var(--color-principal);
}
.imagen-seccion-napsis {
    object-fit: cover;
    border-radius: 0 0 10px 10px;
}
/*Sección Dos Página de Inicio*/

/*Sección Preguntas Frecuentes*/
.accordion {
    overflow: hidden;
}
.accordion-elemento {
    background-color: var(--color-secundario);
    border-radius: 0 0 10px 10px;
}
.titulo-accordion {
    background-color: var(--color-secundario);
    padding: 15px;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
}
.contenido-accordion {
    padding-left: 15px;
    max-height: 0;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    transition: max-height 0.3s ease-out;
}
.contenido-accordion.active {
    max-height: 500px;
}
/*Sección Preguntas Frecuentes*/
