.comunicado{
    background-color: white;
    border-radius: 10px;
    border: 2px solid #ECEAEA;
    padding: 10px;
}
.titulos-comunicados{
   color: var(--color-principal);
   font-weight: bold;
}
.contenedor-imagen img {
    object-fit: cover;
    height: 200px;
    border-radius: 5px 0 0 5px;
}
.fecha-comunicado{
    color: var(--color-principal);
    font-weight: bold;

}
.ver-mas a{
    color: var(--color-principal);
    text-decoration: none;
    font-weight: bold;
}
.ver-mas a:hover {
    border-bottom: 2px solid #BE1522;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: -2px;
}