/*seccion noticias*/
.card{
    border: 20px solid #ECEAEA;
}
.boton-noticias {
    color: #BE1522;
    text-decoration: none;
    font-weight: bold;
}
.boton-noticias:visited {
    color: #BE1522;
    text-decoration: none;
    font-weight: bold;
}
.boton-noticias:hover {
    border-bottom: 2px solid #BE1522;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: -2px;
}
/*seccion noticias*/