/*seccion noticias*/
.carta-noticias {
    border: 13px solid #ECEAEA;
}
.titulos-comunicados{
    color: #BE1522;
    font-weight: bold;
}
.fecha-comunicado{
    color: #BE1522;
    font-weight: lighter;
}
.boton-noticias {
    color: #BE1522;
    text-decoration: none;
    font-weight: bold;
}
.boton-noticias a{
    color: var(--color-principal);
    text-decoration: none;
    font-weight: bold;
}
.boton-noticias a:hover {
    border-bottom: 2px solid #BE1522;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: -2px;
}
.contenido-extracto-noticias {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; 
}
/*seccion noticias*/